@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-color: black;
    height: 100vh;
}
section .container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .container .random{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h1{
    width: 360px;
    font-size: 40px;
    font-family: 'Roboto Slab' , sans-serif;
    color: grey;
    overflow: hidden;
    border-right:  2px solid #FF6500;
    white-space: nowrap;
    animation: typing 4s steps(40,end) infinite alternate-reverse;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 340px;
    }
}
.container .random table tr td input ,  .random button , #result{
    width: 100%;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 16px;
    background-color: #000;
    color: white;
    border: #FF6500 solid 2px;
    margin: 20px 0;
    font-family: "Roboto Slab" , sans-serif;
    cursor: pointer;
    transition: all 0.3s;
}
button{
    color: grey;
}
button:hover{
    background-color: grey;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}
